<navbar></navbar>
<router-outlet></router-outlet>
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Arkansas<span>Trails</span></h3>

				<p class="footer-links">
					<a routerLink="/">Home</a>
					·

					<a routerLink="about">About</a>
					·
					<a routerLink="contact">Contact</a>
				</p>
				<a href="http://creativegains.co"><p class="footer-company-name">Cretive Gains &copy; 2016</p></a>
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>000 North street</span> Fayetteville, Arkansas</p>
				</div>
				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">kyle@creativegains.co</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>