<div class="jumbotron specialjum">

</div>
<div *ngIf="placeRes">
	<h2>{{placeRes.name}}</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="search-res">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title upper-case">
							Activities:
							<ul class="inline-li" *ngFor="let activity of placeRes.activities">
								<li>{{activity.activity_type_name}}</li>
							</ul>
						</h3>
					</div>
					<div class="panel-body" *ngIf="trailDesc">
						<ul class="trail-desc">
								<li class="upper-case lead">{{trailDesc.description}}</li>
								<li class="lead">Trail length: {{trailDesc.length}} miles</li>
						</ul>
						</div>
					</div>
				</div>    
			</div>    
		</div>

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-info direction-wrapper">
				<div class="panel-heading">
					<h3 class="panel-title upper-case">Directions</h3>
					</div>
					<div class="panel-body">
						<p class="lead">{{placeRes.directions}}</p>
						 <div class="g-map">
							 <a href="https://www.google.com/maps/place/{{placeRes.lat}},{{placeRes.lon}}">
								 <sebm-google-map 
											[latitude]="placeRes.lat" 
											[longitude]="placeRes.lon"
											[zoomControl]="true"
											[disableDefaultUI]="false"
											[scrollwheel]="false"
											[draggable]="false"
											[zoom]="15"
											>
											<sebm-google-map-marker [latitude]="placeRes.lat" [longitude]="placeRes.lon"></sebm-google-map-marker>
										  </sebm-google-map>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="weather" class="col-md-4">
			<div class="panel panel-info weather-wrapper">
				<div class="panel-heading">
					<h3 class="panel-title upper-case">Weather</h3>
				</div>
				<div classs="panel-body">
						<h4 class="text-center">{{weather.display_location.full}}</h4>
						<div class="icon">
							<img class="center-block" src="{{weather.icon_url}}" />
						</div>
						<h3 class="text-center">{{weather.weather}}</h3>
						<h1 class="text-center">{{weather.temp_f}}&deg;</h1>
						<ul class="list-group">
							<li class="list-group-item"><strong>Temp: </strong>{{weather.temperature_string}}</li>
							<li class="list-group-item"><strong>UV Index: </strong>{{weather.uv}}</li>							
							<li class="list-group-item"><strong>Relative Humidity: </strong>{{weather.relative_humidity}}</li>
							<li class="list-group-item"><strong>Dewpoint: </strong>{{weather.dewpoint_string}}</li>
							<li class="list-group-item"><strong>Visibility: </strong>{{weather.visibility_mi}}</li>
							<li class="list-group-item"><strong>Wind: </strong>{{weather.wind_mph}}</li>
							<li class="list-group-item"><strong>Wind Direction: </strong>{{weather.wind_dir}}</li>
							<li class="list-group-item"><strong>Heat Index: </strong>{{weather.heat_index_string}}</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title upper-case">Photos</h3>
				</div>
				<div class="panel-body">
					<div *ngIf="imgRes">
							<ul class="img-results">
								<li *ngFor="let image of imgRes">
									<img *ngFor="let uri of image.display_sizes" src="{{uri.uri}}"/>	
								</li>				
							</ul>
						</div>
						<div *ngIf="noImgRes">
							<ul class="img-results">
								<li>
									<img src="../../../img/no-image.png" alt="No images were found"/>	
								</li>				
							</ul>
						</div>
				</div>
	</div>
</div>